{% extends "admin_header.html" %}
{% block body %}
    <h2>Login</h2>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('admin.login') }}" method="post">
        <dl>
            <dt>用户名：<input type="text" name="username"></dt>
            <dt>密　码：<input type="password" name="password"></dt>
            <dt>
                <input type="submit" value="登录">
                <input type="reset" value="重置">
            </dt>
        </dl>
    </form>
{% endblock %}
